:root {
  /* default theme color */
  /* can be overrided by uses `themeConfig` option */
  --slidev-theme-primary: #FCA5A5;
}

#slideshow {
  font-family: 'Meiryo', 'メイリオ', 'Yu Gothic', 'YuGothic', 'Hiragino Sans', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'Microsoft YaHei', 'Osaka', sans-serif;
  @apply text-gray-700;

  strong {
    color: var(--slidev-theme-primary);
  }
}

.slidev-layout {
  @apply pt-5;
  @apply text-center;
  @apply flex flex-col;
  @apply bg-sky-300;
  @apply relative;

  &::after {
    @apply content-[""];
    @apply absolute;
    @apply inset-4;
    @apply bg-white;
    @apply rounded-3xl;
    @apply box-border;
    @apply overflow-hidden;
    @apply z-1;
  }

  /* Ensure all content is above the pseudo-element */
  & > * {
    @apply relative;
    @apply z-2;
  }

  h1, h2, h3, h4, h5, h6, p, div, span, ul, ol, blockquote {
    @apply text-left;
  }

  ul {
    @apply list-disc list-inside pl-4;
  }

  li {
    @apply mb-2;
  }

  h1 {
    @apply text-4xl relative inline-block mx-auto text-left;

    &::after {
      @apply content-[""];
      @apply absolute;
      @apply -bottom-2;
      @apply left-1/2;
      @apply transform;
      @apply -translate-x-1/2;
      @apply w-[calc(100%+30px)];
      @apply h-2;
      @apply bg-yellow-300;
      @apply rounded-full;
    }
  }
}

.slidev-layout.center {
  @apply justify-center;

  h1 {
    @apply absolute left-1/2 top-5 -translate-x-1/2;
  }

  p, div, span, ul, ol, blockquote {
    @apply text-5xl;
    @apply text-left;
  }
}