:root {
  /* default theme color */
  /* can be overrided by uses `themeConfig` option */
  --slidev-theme-primary: #FCA5A5;
}

#slideshow {
  font-family: 'Meiryo', 'メイリオ', 'Yu Gothic', 'YuGothic', 'Hiragino Sans', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'Microsoft YaHei', 'Osaka', sans-serif;
  @apply text-gray-700;

  strong {
    color: var(--slidev-theme-primary);
  }
}

.slidev-layout {
  @apply pb-2 pt-4;
}

.slidev-layout.default {
  @apply text-center;
  @apply flex flex-col;

  h1, h2, h3, h4, h5, h6, p, div, span, ul, ol, blockquote {
    @apply text-left;
  }

  h1 {
    @apply text-4xl relative inline-block mx-auto text-left;

    &::after {
      @apply content-[""] absolute -bottom-2 left-1/2 transform -translate-x-1/2 w-[calc(100%+30px)] h-2 bg-yellow-300 rounded-full;
    }
  }
}

.slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;

  h1 {
    @apply text-6xl leading-20 inline-block;
  }

  h1 + p {
    @apply -mt-2 opacity-50 mb-4;
  }

  p + h2,
  ul + h2,
  table + h2 {
    @apply mt-10;
  }
}
